{% extends '::base.html.twig' %}

{% block body %}
<div class="row-fluid">
    <div class="span12">
        <div class="box box-color box-bordered green">
            <div class="box-title">
                <h3>Invitados
                </h3>
            </div>
                <div class="box-content nopadding">
                    <table class="table table-hover table-nomargin table-striped dataTable dataTable-reorder">
            <thead>
            <tr>
                <th>Id</th>
                <th>Categoria</th>
                <th>Nombres y Apellidos</th>
                <th>Organizacion</th>
                <th>Titulo</th>
                <th>Contesto</th>
                <th></th>

            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('contacto_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.categoria.nombre}}</td>
                    <td>{{ entity.vocativo }} {{ entity.nombres }} {{ entity.apellidos }}</td>
                    <td>{{ entity.organizacion }}</td>
                    <td>{{ entity.titulo1 }} {{ entity.titulo2 }}</td>
                    <td>
                        {% if entity.contesto==1 %}
                            SI
                        {% elseif entity.contesto== 2 %}NO

                        {% else %}
                        SIN CONTESTAR
                        {% endif %}
                    </td>
                    <td>
                        
                    <ul>
                        <li>
                            <a href="{{ path('contacto_show', { 'id': entity.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('contacto_edit', { 'id': entity.id }) }}">edit</a>
                        </li>
                    </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
            </div>
        </div>
    </div>
</div>
    {#{ simple_paginator_render('contacto') }#}

        <ul>
        <li>
            <a href="{{ path('contacto_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
